extends layout.pug

block content
  .container
    .row
      .form.m-3
        .form-row.align-items-center
          .col-auto
            label Filter
          .col-auto
            label.sr-only(for="dateFilter") Date
            .input-group
              .input-group-prepend
                .input-group-text Date
              select.form-control.js-date-filter#dateFilter
                option(default, value='') -- By Date --
                each date in dates
                  option(value=date)= date
          .col-auto
            label.sr-only(for="departmentFilter") Department
            .input-group
              .input-group-prepend
                .input-group-text Department
              select.form-control.js-department-filter#departmentFilter
                option(default, value='') -- By Department --
                each department in departments
                  option(value=department)= department

    .row
      table.table.table-bordered
        thead.thead-dark
          tr
            th Date
            th Department
            th Name
            th Position
            th Work Start
            th Work End
            th Lunch Start
            th Lunch End

        tbody
          each val, key in report
            -var date = key
            -var departments = val.departments

            each department, departmentName in departments
              -var entries = department.entries
              -var notes = department.notes

              each entry in entries
                tr(data-report-row, data-report-date=date, data-report-department=departmentName).table-light
                  td= date
                  td= departmentName
                  td= entry.agent
                  td= entry.position
                  td= entry.workStart
                  td= entry.workStop
                  td= entry.lunchStart
                  td= entry.lunchStop

              each note in notes
                tr(data-report-row, data-report-date=date, data-report-department=departmentName).table-warning
                  td= date
                  td= departmentName
                  td Note
                  td(colspan=5)= note.note
              tr(data-report-row, data-report-date=date, data-report-department=departmentName).table-secondary.table-sm
                td(colspan=8)
block scripts
  script
    include report-script.js
