extends layout.pug

mixin agent(index, name, position)
  .row
    .form-group.col
      label Name
      input.form-control(value= name, name=`records[${index}][name]`)
      small.form-text.text-muted
    .form-group.col
      label Position
      input.form-control(value= position, name=`records[${index}][position]`)
      small.form-text.text-muted
    .form-group.col
      label Work Start
      input.form-control(placeholder="0700", name=`records[${index}][workStart]`)
      small.form-text.text-muted
    .form-group.col
      label Work Stop
      input.form-control(placeholder="2100", name=`records[${index}][workStop]`)
      small.form-text.text-muted
    .form-group.col
      label Lunch Start
      input.form-control(placeholder="1300", name=`records[${index}][lunchStart]`)
      small.form-text.text-muted
    .form-group.col
      label Lunch Stop
      input.form-control(placeholder="1400", name=`records[${index}][lunchStop]`)
      small.form-text.text-muted
    .form-group
      button.btn.btn-link &times;

block content
  form(method="post", action="/dtr")
    .row
      .form-group.col
        select.form-control(name="department")
          each department in departments
            option(value= department.key)= department.value

    .row
      .form-group.col
        label Date
        input.form-control(type="date", name="date")
        small.form-text.text-muted

    each agent, i in agents
      +agent(i, agent.name, agent.position)

    +agent()

    .row
      .form-group.col
        label Notes
        textarea.form-control(name="notes")
        small.form-text.text-muted

    input.btn.btn-outline-warning(type="reset", value="Reset")
    |
    |
    input.btn.btn-primary(type="submit", value="Submit")
