extends layout.pug

mixin agent(index='{{recordIndex}}', name='{{recordName}}', position='{{recordPosition}}')
  .row.js-agent
    .col-md-11
      .row
        .col-md-2
          label.form-text.text-muted Name
          input.form-control(required, value= name, name=`records[${index}][name]`)
          small.form-text.text-muted
        .col-md-2
          label.form-text.text-muted Position
          input.form-control(required, value= position, name=`records[${index}][position]`)
          small.form-text.text-muted
        .col-md-2
          label.form-text.text-muted Work Start
          input.form-control(required, placeholder="0700", name=`records[${index}][workStart]`)
          small.form-text.text-muted
        .col-md-2
          label.form-text.text-muted Work Stop
          input.form-control(required, placeholder="2100", name=`records[${index}][workStop]`)
          small.form-text.text-muted
        .col-md-2
          label.form-text.text-muted Lunch Start
          input.form-control(placeholder="1300", name=`records[${index}][lunchStart]`)
          small.form-text.text-muted
        .col-md-2
          label.form-text.text-muted Lunch Stop
          input.form-control(placeholder="1400", name=`records[${index}][lunchStop]`)
          small.form-text.text-muted
    .col-md-1
      label.form-text.text-muted &nbsp;
      button.btn.btn-danger.js-delete-record &times;
      small.form-text.text-muted

block content
  form(method="post", action="/dtr").container
    .row
      .col-sm-12
        label.form-text.text-muted Department
        select.form-control.js-department-select(name="department", required)
          option(disabled="disabled", selected="true") -- Select Department --
          each department in departments
            option(value= department.key)= department.value

    .row
      .col-sm-12
        label.form-text.text-muted Date
          input.form-control(type="date", name="date", required)
          small.form-text.text-muted
        hr

    .js-agents

    .row
      .form-group.col
        input.btn.btn-success.js-new-record(type="button", value="Add New Record")

    .row
      .form-group.col
        label.form-text.text-muted Notes
        textarea.form-control(name="notes")
        small.form-text.text-muted

    input(type="hidden", value= project.id)

    input.btn.btn-outline-warning(type="reset", value="Reset")
    |
    |
    input.btn.btn-primary(type="submit", value="Submit")

block scripts
  template.js-agent-template
    +agent

  script
    include time-record-script.js
