extends layout.pug

mixin tokenTemplate(token)
  tr
    td= token.departmentName
    td= token.role
    td= token.token
    td
      input(value=`https://${baseLoginUrl}${token.token}`, readonly).w-100.border-0

block content
  .row
    h1 Accounts
    .table-responsive
      table.table.table-sm
        thead
          tr
            th Department Name
            th Role
            th Token
            th Login Url
        tbody
          if tokens
            each token in tokens
              +tokenTemplate(token)
        tfoot
          tr
            td(colspan=4)
              form(method="post", action="/account-management/token").row.row-cols-lg-auto.g-3.align-items-center
                .col
                  include includes/departments-select.pug
                if user.isProjectAdmin
                  .col
                    include includes/roles-select.pug
                .col
                  label.form-text.text-muted.d-block &nbsp;
                  button(type="submit").btn.btn-success +

  .row
    h2 What are accounts?
    p Instead of username/passwords, we have secure tokens that give restricted access based on your 'role' type. There are 3 types of roles:
    p
      h4 Crew Role:
      p These tokens are for the crew member that will be filling out the daily DTR. If Crew role is selected, the token will give access only for filling out that specific departments DTR or report.
      p Crew Role CANNOT create new accounts, edit departments, or file/see reports for any other department other than the one they are created under.
    p --------
    p
      h4 Admin Role:
      p These tokens give access to ALL departments and reports. These tokens are for AD's, accounting, and the production office only, NEVER for crew!!
      p Admin Role CANNOT create other admin accounts, or add/remove departments
    p --------
    p
      h4 Project-Admin Role:
      p This will be hidden for most users. This will usually be for the 3rd AD and PC. This role can create/remove departments, add other project-admins, add admins, add crew, and can file/view reports for all departments.
