extends layout.pug

mixin tokenTemplate(token)
  tr
    td= token.departmentName
    td= token.role
    td= token.token
    td
      input(value=`https://${baseLoginUrl}${token.token}`, readonly).w-100.border-0

block content
  .row
    h1 Accounts
    .table-responsive
      table.table.table-sm
        thead
          tr
            th Department Name
            th Role
            th Token
            th Login Url
        tbody
          if tokens
            each token in tokens
              +tokenTemplate(token)
        tfoot
          tr
            td(colspan=4)
              form(method="post", action="/account-management/token").row.row-cols-lg-auto.g-3.align-items-center
                .col
                  include includes/departments-select.pug
                if user.isProjectAdmin
                  .col
                    include includes/roles-select.pug
                .col
                  label.form-text.text-muted.d-block &nbsp;
                  button(type="submit").btn.btn-success +

  .row
    h2 What are accounts?
    p.mb-4 Instead of username/passwords, we have secure tokens that give restricted access based on your 'role' type. There are 3 types of roles:
    .col-sm-4
      .card
        .card-body
          h5.card-title Crew Role
          p.card-text These tokens are for the crew member that will be filling out the daily DTR
            .alert.alert-success(role:'alert')
              | Permitted actions:
              li Fill out specified dept DTR
              li View specified dept Report
            .alert.alert-danger(role:'alert')
              | Not Permitted:
              li Create new accounts
              li File for other depts
              li View report for other depts
            .alert.alert-warning(role:'alert')
              | Given to:
              li A crew member of the specified dept that will be filling out DTR
    .col-sm-4
      .card
        .card-body
          h5.card-title Admin role
          p.card-text These tokens give access to all departments
            .alert.alert-success(role:'alert')
              | Permitted actions:
              li Create new "Crew" tokens
              li Fill out DTR for any dept
              li View Report for any dept
            .alert.alert-danger(role:'alert')
              | Not Permitted:
              li Create/View other admin tokens
              li Create/Remove departments
              li View report for other depts
            .alert.alert-warning(role:'alert')
              | Given to:
              li AD Team
              li Production Office
              li Accounting Office
    .col-sm-4
      .card
        .card-body
          h5.card-title Super-Admin Role
          p.card-text These tokens are for management of the app
            .alert.alert-success(role:'alert')
              | Permitted actions:
              li Add/Remove Departments
              li View all tokens
              li Create/Remove tokens
              li Create/Edit Alerts
              li Set Official Lunch
              li Change Project info (logo, title, etc...)
            .alert.alert-warning(role:'alert')
              | Given to:
              li 3rd AD
              li Production Coordinator
