extends layout.pug

block content
  .row.mb-3
    if user.isAdmin
        .col-6
          .input-group
            .input-group-text Department
            select.form-control.js-department-filter#departmentFilter
              option(default, value='') -- By Department --
              each department in departments
                option(value=department)= department
    else
        .col-6
            h3= departments

    .col-6
        .input-group
            .input-group-text Date
            select.form-control.js-date-filter#dateFilter
                option(default, value='') -- By Date --
                each date in dates
                    option(value=date)= date

  .row
    table.table.report
      thead.report-sticky.shadow-sm
        tr
          th Date
          if user.isAdmin
            th Department
          th Name
          th Position
          th Work Start
          th Work End
          th Lunch Start
          th Lunch End

        each val, key in report
          -var date = key
          -var departments = val.departments

          each department, departmentName in departments
            -var entries = department.entries
            -var notes = department.notes

            tbody
              each entry in entries
                tr(data-report-row, data-report-date=date, data-report-department=departmentName)
                  td
                    span= date
                  if user.isAdmin
                      td
                        span= departmentName
                  td= entry.name
                  td= entry.position
                  td= entry.workStart
                  td= entry.workStop
                  td= entry.lunchStart
                  td= entry.lunchStop

              each note in notes
                tr(data-report-row, data-report-date=date, data-report-department=departmentName).table-warning
                  td
                    span= date
                  if user.isAdmin
                    td
                      span= departmentName
                  td Note
                  td(colspan=5)= note.note

block scripts
  script
    include scripts/report-script.js
