extends layout.pug

mixin agent(index='{{entryIndex}}', name='{{entryName}}', position='{{entryPosition}}')
  .row.js-agent.my-3
    .col-12
      .card
        .card-body
          .row
            .col-6.col-md-2
              label.form-text.text-muted Full Name
              input.form-control(required, value= name , name=`entries[${index}][name]`)
              small.form-text.text-muted
            .col-6.col-md-2
              label.form-text.text-muted Position
              input.form-control(required, value= position, name=`entries[${index}][position]`)
              small.form-text.text-muted
            .col-6.col-md-2
              label.form-text.text-muted Work Start
              input.form-control.js-work-start(required, minlength="4", maxlength="4", pattern="[0-3][0-9][0-5][0-9]", placeholder="0700", name=`entries[${index}][workStart]`)
              small.form-text.text-muted
            .col-6.col-md-2
              label.form-text.text-muted Work Stop
              input.form-control.js-work-stop(required, minlength="4", maxlength="4", pattern="[0-3][0-9][0-5][0-9]", placeholder="2100", name=`entries[${index}][workStop]`)
              small.form-text.text-muted
            .col-6.col-md-2
              label.form-text.text-muted Lunch Start
              input.form-control.js-lunch-start(minlength="4", maxlength="4", pattern="[0-3][0-9][0-5][0-9]", placeholder="1300", name=`entries[${index}][lunchStart]`)
              small.form-text.text-muted
            .col-6.col-md-2
              label.form-text.text-muted Lunch Stop
              input.form-control.js-lunch-stop(minlength="4", maxlength="4", pattern="[0-3][0-9][0-5][0-9]", placeholder="1400", name=`entries[${index}][lunchStop]`)
              small.form-text.text-muted
        .card-footer
          p.form-text.text-muted.text-bold.text-center
            span.js-calculated-time
          button(type=button, value=Cancel, formnovalidate).btn.btn-block.btn-secondary.js-delete-record Remove Crew Member

block content
  form(method="post", action="/dtr")
    .row
      .col-12
        .card
          .card-body
            include includes/departments-select.pug

          .card-body
            label.form-text.text-muted Date Worked
              input.form-control(type="date", name="date", required)
              small.form-text.text-muted

    .js-agents.my-3

    .row.my-3
      .col-12
        input.btn.btn-block.btn-primary.js-new-record(type="button", value="Add Crew Member")

    .row
      .col-12
        .card
          .card-body
            label.form-text.text-muted Notes
            textarea.form-control(name="notes")
            small.form-text.text-muted

    input(type="hidden", value= project.id)

    .row.my-3
      .col-12.col-sm-6.mb-3
        input.btn.btn-block.btn-success(type="submit", value="Review Time Sheet & Submit to AD & Production")
      .col-12.col-sm-6.mb-3
        input.btn.btn-block.btn-secondary(type="reset", value="Reset")

block scripts
  template.js-agent-template
    +agent

  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")

  script
    include scripts/time-record-script.js
