extends layout.pug

mixin agent(index='{{entryIndex}}', name='{{entryName}}', position='{{entryPosition}}', workStart, workStop, lunchStart, lunchStop, order)
  .card.my-3.d-flex.flex-nowrap.js-agent.js-time-record.js-orderable(draggable='true')
    .js-orderable-handle.text-muted.d-flex
      include includes/handle.svg
    input.px-lg-1.px-xl-3.border-0.form-control.js-orderable-order(required, value= (order >= 0 ? order : index), name=`entries[${index}][order]`, type="hidden")
    .row
      .col-12.col-md-6.col-lg-2.flex-shrink-1
        .form-floating.m-2.m-md-0
          input.px-lg-1.px-xl-3.border-0.form-control(required, value= name, name=`entries[${index}][name]` placeholder="Full name")
          label.px-lg-1.px-xl-3 Full name
      .col-12.col-md-6.col-lg-2.flex-shrink-1
        .form-floating.m-2.m-md-0
          input.px-lg-1.px-xl-3.border-0.form-control.form-control-sm(required, value= position, name=`entries[${index}][position]` placeholder="Position")
          label.px-lg-1.px-xl-3 Position
      .col-6.col-md-3.col-lg-1.flex-grow-1.time-field__work-start
        .form-floating.m-2.m-md-0
          input.px-lg-1.px-xl-3.border-0.form-control.js-work-start.js-time-input(required, value= workStart, pattern="([0-4][0-9][0-5][0-9]|[nN]\/[cC])", placeholder="0700", name=`entries[${index}][workStart]`)
          label.px-lg-1.px-xl-3 Work Start
      .col-6.col-md-3.col-lg-1.flex-grow-1.time-field__lunch-start
        .form-floating.m-2.m-md-0
          input.px-lg-1.px-xl-3.border-0.form-control.js-lunch-start.js-time-input(value= lunchStart, pattern="([0-4][0-9][0-5][0-9]|[nN]\/[cC])", placeholder="1300", name=`entries[${index}][lunchStart]`)
          label.px-lg-1.px-xl-3 Lunch Start
      .col-6.col-md-3.col-lg-1.flex-grow-1.time-field__lunch-stop
        .form-floating.m-2.m-md-0
          input.px-lg-1.px-xl-3.border-0.form-control.js-lunch-stop.js-time-input(value= lunchStop, pattern="([0-4][0-9][0-5][0-9]|[nN]\/[cC])", placeholder="1400", name=`entries[${index}][lunchStop]`)
          label.px-lg-1.px-xl-3 Lunch Stop
      .col-6.col-md-3.col-lg-1.flex-grow-1.time-field__work-stop
        .form-floating.m-2.m-md-0
            input.px-lg-1.px-xl-3.border-0.form-control.js-work-stop.js-time-input(required, value= workStop, pattern="([0-4][0-9][0-5][0-9]|[nN]\/[cC])", placeholder="2100", name=`entries[${index}][workStop]`)
            label.px-lg-1.px-xl-3 Work End
      .col-12.col-md-6.col-lg-1.flex-grow-1
        .form-floating.m-2.m-md-0.bg-light
          input.px-lg-1.px-xl-3.border-0.form-control.bg-transparent.js-calculated-time(readonly placeholder="1400")
          label.px-lg-1.px-xl-3 Time
    .d-grid
      button.btn.btn-light.text-primary.js-no-call(formnovalidate data-bs-toggle="tooltip" data-bs-placement="top" title="No Call" type="button")
        | Set N/C
    .d-grid
      button.btn.btn-light.text-danger.js-delete-record(formnovalidate data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Entry")
        i.me-2 &times;
        span.d-lg-none Remove Entry

block content
  h1 New DTR
  form(method="post", action="/dtr")
    input(type="hidden", value= project.id)

    .row
      if user.isAdmin
        .col-xs-12.col-sm-6
          include includes/departments-select.pug

      .col
        label.form-text.text-muted Date Worked
        input.form-control(type="date", value= date, name="date", required)
        small.form-text.text-muted

    .js-agents
        if entries
          each entry, index in entries
            +agent(index, entry.name, entry.position, entry.workStart, entry.workStop, entry.lunchStart, entry.lunchStop, entry.order)

    .d-flex.justify-content-end
      a.nav-link.active.js-new-record(aria-current="page" href="") + Add Crew Member

    .row
      .col-12
        .form-floating
          textarea.form-control(name="notes" placeholder="Notes for report" style="height: 100px")
            if notes
              = notes
          label Notes

    .row
      .col-12.my-3.text-center
        input.btn.btn-block.btn-primary.me-2.my-1(type="submit" value="Review TimeSheet")
        input.btn.btn-block.btn-outline-secondary.me-2.my-1(type="reset" value="Clear TimeSheet")

    if user.isCrew && !user.isAdmin
      input(value= user.department, name="department", required, readonly, hidden)

  .row
    h2 DTR Information
    li Adding a new crew member will save them as part of the crew for subsequent days
    li Removing a crew member will remove them from appearing on subsequent days
    li If a crew member is not present, but will be working on future days, click "Set N/C"
    li Don't forget lunch!
    li Notes: Include notes whenever possible. Equipment damage, injuries, danger on set, etc.

block scripts
  template.js-agent-template
    +agent

  script
    include scripts/time-record-script.js
