extends layout.pug

mixin record(record)
  tr
    td= record.agent.name
    td= record.agent.position
    td= record.workStart
    td= record.workStop
    td= record.lunchStart
    td= record.lunchStop

block content
  .row
    h1 Timesheet Submitted
    .col-md-6
      p= department.name

    .col-md-6
      p= date

  .row.my-3
    .table-responsive
      table.table.table-sm
        thead
          tr
            th Name
            th Position
            th Work Start
            th Work Stop
            th Lunch Start
            th Lunch Stop

        tbody
          if records
            each record in records
              +record(record)

  if notes
    .row
      .col-12
        p.text-muted Notes
        p= notes


