extends layout.pug

mixin agent(index='{{entryIndex}}', name='{{entryName}}', position='{{entryPosition}}', workStart, workStop, lunchStart, lunchStop)
  tr.js-agent.js-time-record
    td.form-floating
        input.border-0.form-control(required, value= name, name=`entries[${index}][name]` placeholder="Full name")
        label Full name
    td.form-floating
      input.border-0.form-control.form-control-sm(required, value= position, name=`entries[${index}][position]` placeholder="Position")
      label Position
    td.form-floating
      input.border-0.form-control.js-work-start(required, value= workStart, minlength="4", maxlength="4", pattern="[0-3][0-9][0-5][0-9]", placeholder="0700", name=`entries[${index}][workStart]`)
      label Work Start
    td.form-floating
      input.border-0.form-control.js-work-stop(required, value= workStop, minlength="4", maxlength="4", pattern="[0-3][0-9][0-5][0-9]", placeholder="2100", name=`entries[${index}][workStop]`)
      label Work End
    td.form-floating
      input.border-0.form-control.js-lunch-start(minlength="4", value= lunchStart, maxlength="4", pattern="[0-3][0-9][0-5][0-9]", placeholder="1300", name=`entries[${index}][lunchStart]`)
      label Lunch start
    td.form-floating
      input.border-0.form-control.js-lunch-stop(minlength="4", value= lunchStop, maxlength="4", pattern="[0-3][0-9][0-5][0-9]", placeholder="1400", name=`entries[${index}][lunchStop]`)
      label Lunch Stop
    td.form-floating
      input.border-0.form-control.bg-transparent.js-calculated-time(readonly placeholder="")
      label Worked Time
    td
      button.btn.btn-light.text-danger.js-delete-record(formnovalidate data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Entry") &times;

block content
  form(method="post", action="/dtr")
    input(type="hidden", value= project.id)

    .row
      if user.isAdmin
        .col
          include includes/departments-select.pug

      .col
        label.form-text.text-muted Date Worked
        input.form-control(type="date", value= date, name="date", required)
        small.form-text.text-muted

    .row.my-3
      .table-responsive
        table.table.table-sm
          tbody.js-agents
            if entries
              each entry, index in entries
                +agent(index, entry.name, entry.position, entry.workStart, entry.workStop, entry.lunchStart, entry.lunchStop)

      ul.nav.justify-content-end
        li.nav-item
          a.nav-link.active.js-new-record(aria-current="page" href="#") + Add Crew Member

    .row
      .col-12
        .form-floating
          textarea.form-control(name="notes" placeholder="Notes for report" style="height: 100px")
            if notes
              = notes
          label Notes

    .row
      .col-12.my-3.text-center
        input.btn.btn-block.btn-primary.me-2.my-1(type="submit" value="Review Time Sheet & Submit to AD & Production")
        input.btn.btn-block.btn-outline-secondary.me-2.my-1(type="reset" value="Reset Time Entries")

    if user.isCrew && !user.isAdmin
      input(value= user.department, name="department", required, readonly, hidden)

block scripts
  template.js-agent-template
    +agent

  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")

  script
    include scripts/time-record-script.js
