extends layout.pug

mixin record(record)
  tr
    td= record.name
    td= record.position
    td= record.workStart
    td= record.workStop
    td= record.lunchStart
    td= record.lunchStop

block content
  .row
    h1 Review Timesheet
    .col-md-6
      p= department.name

    .col-md-6
      p= date

  .row.my-3
    .table-responsive
      table.table.table-sm
        thead
          tr
            th Name
            th Position
            th Work Start
            th Work Stop
            th Lunch Start
            th Lunch Stop

        tbody
          if entries
            each record in entries
              +record(record)

  if notes
    .row
      .col-12
        p.text-muted Notes
        p= notes

  .row
    .col-12.my-3.text-center
      a(href="dtr/submit").btn.btn-block.btn-primary.me-2.my-1 Submit to AD & production
      a(href="dtr").btn.btn-block.btn-outline-secondary.me-2.my-1 Make changes
